# Database connection
DATABASE_URL="postgresql://postgres:root@localhost:5432/eqagaz_db?schema=public"

# JWT Auth
JWT_ACCESS_SECRET="super-secret-access-key-123!"
JWT_REFRESH_SECRET="super-secret-refresh-key-456!"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"

# App
PORT=3000
NODE_ENV=development
